<form class="addTask" action="/accounts/{{user.id}}" method="POST">
  <label for="title" class="sr-only">Название</label>
  <input type="text" name="title" id="title" class="form-control" placeholder="название" required autofocus>
  <label for="group" class="sr-only"></label>
  <input type="text" name="group" id="group" class="form-control" placeholder="группа дел" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Добавить</button>
</form>


<h1 class="center">Items list</h1>
<p>{{user.id}}</p>
{{#if todolist}}
<main role="main">
  {{#each todolist}}
  <div class="task" id = {{this._id}}>
    <div class="nameClass">{{this.title}}</div>
    <div class="CRUD">
      {{!-- <a href="/accounts/{{../user.id}}/{{this._id}}/update"> --}}
        <button class = "updateButton">
          update
        </button>
      {{!-- </a> --}}
    </div>
    <div class = "deleteButton"><button>delete</button></div>
  </div>
  {{/each}}
</main>
{{/if}}
<script src="/js/account.js"></script>